/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 4, 2019, 2:27:17 PM
    Author     : s.numuhire
*/
div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.one{
    height: 5vh;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-around;
}